.ipynb_checkpoints/*
*/.ipynb_checkpoints/*
Testing/my-new-file.txt.txt
Testing
**/.ipynb_checkpoints/**
./Testing/**
Testing/

"/Users/roger/Desktop/Bedside Pile/School/SPS/SP2273 Working on Interdisciplinary Science, Pythonically/learning-portfolio-Roger-zyj/Testing/my-new-file.txt.txt"